<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Appointment Details</title>

	{% load staticfiles %}
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'patients/js/bootstrap.min.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'patients/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'patients/strapify.css' %}">
	<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
</head>

<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">HealthNet <span class="glyphicon glyphicon-plus-sign"></span> Doctor</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
		<li><a href="/calendar">
			<span class="glyphicon glyphicon-calendar"></span>
			Calendar
		</a></li>
		<li class="active"><a href="/doctorcreateappointment">
			<span class="glyphicon glyphicon-pencil"></span>
			Create Appointment
		</a></li>
		<li><a href="/listofpatients">
		  <span class="glyphicon glyphicon-list"></span>
		  List of Patients
		</a></li>
      </ul>
	  <ul class="nav navbar-nav navbar-right">
			<li><a href="/messaging">
			  <span class="glyphicon glyphicon-envelope"></span>
			  <span class="badge badge-notification{% if messagenum > 10 %} badge-error{% elif messagenum > 0 %} badge-success{% endif %}">{{ messagenum }}</span>
			  <!-- Messages -->
			</a></li>
			<li>
			  <a>
				<span class="glyphicon glyphicon-user"></span>
				{{ name }}
			  </a>
			</li>
		<li>
			<a href="/logout">
				<span class="glyphicon glyphicon-log-out"></span>
				Logout
			</a>
		</li>
	  </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
	{% if errortext %}
		<div class="alert alert-warning">{{ errortext }}</div>
	{% endif %}


{% block content %}

<div class="well col-md-offset-3 col-md-6">
	<h2>Enter Appointment Details</h2>
	<form action="" method="post" role="form" class="form-horizontal">
      {% csrf_token %}

	  <div class="form-group">
		<label class="control-label col-md-3" for="Month">Month:</label>
		<div class="col-md-4">
			<select name="month" id="Month" class="form-control">
				<option value=1 {% if date.month == 1%} selected = "selected" {%endif %}>January</option>
				<option value=2 {% if date.month == 2%} selected = "selected" {%endif %}>February</option>
				<option value=3 {% if date.month == 3%} selected = "selected" {%endif %}>March</option>
				<option value=4 {% if date.month == 4%} selected = "selected" {%endif %}>April</option>
				<option value=5 {% if date.month == 5%} selected = "selected" {%endif %}>May</option>
				<option value=6 {% if date.month == 6%} selected = "selected" {%endif %}>June</option>
				<option value=7 {% if date.month == 7%} selected = "selected" {%endif %}>July</option>
				<option value=8 {% if date.month == 8%} selected = "selected" {%endif %}>August</option>
				<option value=9 {% if date.month == 9%} selected = "selected" {%endif %}>September</option>
				<option value=10 {% if date.month == 10%} selected = "selected" {%endif %}>October</option>
				<option value=11 {% if date.month == 11%} selected = "selected" {%endif %}>November</option>
				<option value=12 {% if date.month == 12%} selected = "selected" {%endif %}>December</option>
			</select>
		</div>
	  </div>

		<div class="form-group">
		<label class="control-label col-md-3" for="Day">Day (DD):</label>
		<div class="col-md-4">
			<input type="text" name="day" value={{date.day}} id="Day" class="form-control">
		</div>
		</div>

	  	<div class="form-group">
		<label class="control-label col-md-3" for="Year">Year:</label>
		<div class="col-md-4">
			<select name="year" id="Year" class="form-control">
				<option>2015</option>
				<option>2016</option>
				<option>2017</option>
				<option>2018</option>
				<option>2019</option>
			</select>
		</div>
		</div>

	  	<div class="form-group">
		<label class="control-label col-md-3" for="Time">Time:</label>
		<div class="col-md-4">
			<select name="time" id="Time" class="form-control">
				{% for time in times %}
				<option {% if date.hour == forloop.counter0 %} selected = "selected" {% endif %}> {{time}} </option>
				{% endfor %}
			</select>
		</div>
		</div>

	  	<div class="form-group">
		<label class="control-label col-md-3" for="Patient">Patient:</label>
		<div class="col-md-4">
			<select name="patient" id="Patient" class="form-control">
                {% for patient in patients %}
                    <option value={{patient.id}}>{{ patient }}</option>
                {% endfor %}
			</select>
		</div>
		</div>

        <input type="submit" class="btn btn-primary" value="Create Appointment">
        <input type="hidden" name="next" value="{{ next|escape }}">
		<a href="/calendar" class="btn btn-default">Cancel</a>
  </form>

{% endblock %}

<!--Copyright StackOverflowGooglers 2015-->

</div>

</body>


</html>
